<hr>
<form>
    <h2>Task create form</h2>
    <div class="form-group">
      <label>Enter task title</label>
      <input type="text" class="form-control" [(ngModel)]="newTask.title" name="title"
      placeholder="Enter task title">
    </div>
    <div class="form-group">
        <label>Enter task description</label>
        <input type="text" class="form-control" [(ngModel)]="newTask.description" name="description"
        placeholder="Enter task description">
      </div>
      <div class="form-group">
          <label>Enter task duration</label>
          <input type="number" class="form-control" [(ngModel)]="newTask.duration" name="duration"
          placeholder="Enter task duration">
        </div>
    <button (click) = "createTodos()" class="btn btn-primary">Add a task</button>
  </form>
